<style>
    
  .center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  </style>

<form style="background-color:rgba(0, 0, 0, 0.886); color:#f8f8f8" >

<fieldset >

  <legend style="color:#f8f8f8" >Quel est la durée de votre entrainement d'aujourd'hui :</legend>
  <div>
    <input type="text" id="heure " name="heure">
    <label for="heure">   Heure</label>
    <input type="text" id="minute " name="minute">
    <label for="minute">   Minutes</label>
  </div>

  <legend style="color:#f8f8f8" >Que souhaitez-vous entrainer aujourd'hui :</legend>

  <div>
    <input type="checkbox" id="pectoraux " name="pectoraux">
    <label for="pectoraux">Pectoraux</label>
  </div>

  <div>
    <input type="checkbox" id="dorsaux " name="dorsaux">
    <label for="dorsaux">Dorsaux</label>
  </div>

  <div>
    <input type="checkbox" id="epaules " name="epaules">
    <label for="epaules">Epaules</label>
  </div>

  <div>
    <input type="checkbox" id="trapezes " name="trapezes">
    <label for="trapezes">Trapèzes</label>
  </div>

  <div>
    <input type="checkbox" id="biceps " name="biceps">
    <label for="biceps">Biceps</label>
  </div>

  <div>
    <input type="checkbox" id="triceps " name="triceps">
    <label for="triceps">Triceps</label>
  </div>

  <div>
    <input type="checkbox" id="abdominaux " name="abdominaux">
    <label for="abdominaux">Abdominaux</label>
  </div>

  <div>
    <input type="checkbox" id="fesiers " name="fessiers">
    <label for="fessiers">Fessiers</label>
  </div>

  <div>
    <input type="checkbox" id="quadriceps " name="quadriceps">
    <label for="quadriceps">Quadriceps</label>
  </div>

  <div>
    <input type="checkbox" id="ischio " name="ischio">
    <label for="ischio">Ischio-Jambier</label>
  </div>

  <div>
    <input type="checkbox" id="mollets " name="mollets">
    <label for="mollets">Mollets</label>
  </div>

  <div>
    <input type="checkbox" id="cardio " name="cardio">
    <label for="cardio">Votre cardio</label>
  </div>
  
</fieldset>

  <fieldset >
    <legend style="color:#f8f8f8" >Quel matériel avez vous à votre disposition :</legend>

    <div>
      <input type="checkbox" id="haleteres " name="haleteres">
      <label for="halteres">Halteres</label>
    </div>

    <div>
      <input type="checkbox" id="elastique " name="elastique">
      <label for="elastique">Elastique</label>
    </div>

    <div>
      <input type="checkbox" id="banc" name="banc">
      <label for="banc">Banc</label>
    </div>

    <div>
      <input type="checkbox" id="traction" name="banc">
      <label for="banc">Barre de traction</label>
    </div>

    <div>
      <input type="checkbox" id="dips" name="dips">
      <label for="dips">Barre pour dips</label>
    </div>

    <div>
      <input type="checkbox" id="tapis-course" name="tapis-course">
      <label for="tapis-course">Tapis de course</label>
    </div>

    <div>
      <input type="checkbox" id="tapis" name="tapis">
      <label for="tapis">Tapis de sport</label>
    </div>

    <div>
      <input type="checkbox" id="machines" name="machines">
      <label for="machines">Machines (salle de sport)</label>
    </div>

    <div>
      <input type="checkbox" id="poulie" name="poulie">
      <label for="poulie">Poulie</label>
    </div>

    <div>
      <input type="checkbox" id="corde-a-sauter" name="corde-a-sauter">
      <label for="corde-a-sauter">Corde à sauter</label>
    </div>
  </fieldset>

<div class="center">
    <button style="color:#000000"  type="submit" >Générer votre entrainement</button>
</div>

</form>