<form style="background-color:rgba(0, 0, 0, 0.866);" >
    <div class="form-container">
      <div class="row columns">
        <h1 style="color:rgba(255, 255, 255, 0.866)">Login</h1>
        <label style="color:rgba(255, 255, 255, 0.866)">Username
          <input type="text" #usernameobj appAutofocus formControlName="username" style="color:rgba(255, 255, 255, 0.866)">
        </label>
        <label style="color:rgba(255, 255, 255, 0.866)">Password
          <input type="password" formControlName="password">
          
        </label>  
        <div class="callout warning" > </div>   
        <input type="submit" class="button expanded" value="Login">
      </div>
    </div>
  </form>