<body style="background-color:rgba(0, 0, 0, 0.866);">


<div class="list row">
  <div style="color: white" class="col-md-6">
    <h4>Liste des entrainements</h4>
    <ul class="list-group">
      <li 
        class="list-group-item"
        *ngFor="let entrainement of entrainements; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEntrainement(entrainement, i)"
      >
        entrainement {{ entrainement.id }}
        ({{ currentEntrainement.duree }}*60) minutes
        Entrainement {{ currentEntrainement.activites }}

      </li>
    </ul>
    
    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllEntrainements()">
      Supprimer mes entrainements
    </button>
  </div>
  <div style="color: white" class="col-md-6">
    <div *ngIf="currentEntrainement.id">
      <h4>Entrainement</h4>
      <div>
        <label><strong>Nom:</strong></label> Entrainement {{ currentEntrainement.id }}
        <label><strong>Duree:</strong></label> ({{ currentEntrainement.duree }}*60)
        <label><strong>Exercices:</strong></label> Entrainement {{ currentEntrainement.activites }}

      </div>
      
  
    </div>
    <div *ngIf="!currentEntrainement">
      <br />
      <p>entrainement</p>
    </div>
  </div>
</div>
</body>