<body style="background-color:rgba(0, 0, 0, 0.866);">
    <div class="card" style="width: 18rem;"  >
    <div class="card-body" style="background-color:rgba(20, 20, 20, 0.892);">
      <h5 class="card-title" style = "color: rgb(255, 255, 255);">Entrainement 1</h5>
      <a href="#" class="card-link">Détail</a>
    </div>
    </div>
    <div class="card" style="width: 18rem;"  >
        <div class="card-body" style="background-color:rgba(20, 20, 20, 0.892);">
          <h5 class="card-title" style = "color: rgb(255, 255, 255);">Entrainement 2</h5>
          <a href="#" class="card-link">Détail</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;"  >
            <div class="card-body" style="background-color:rgba(20, 20, 20, 0.892);">
              <h5 class="card-title" style = "color: rgb(255, 255, 255);">Entrainement 3</h5>
              <a href="#" class="card-link">Détail</a>
            </div>
            </div>
                <div class="card" style="width: 18rem;"  >
    <div class="card-body" style="background-color:rgba(20, 20, 20, 0.892);">
      <h5 class="card-title" style = "color: rgb(255, 255, 255);">Entrainement 4</h5>
      <a href="#" class="card-link">Détail</a>
    </div>
    </div>
    <div class="card" style="width: 18rem;"  >
        <div class="card-body" style="background-color:rgba(20, 20, 20, 0.892);">
          <h5 class="card-title" style = "color: rgb(255, 255, 255);">Entrainement 5</h5>
          <a href="#" class="card-link">Détail</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;"  >
            <div class="card-body" style="background-color:rgba(20, 20, 20, 0.892);">
              <h5 class="card-title" style = "color: rgb(255, 255, 255);">Entrainement 6</h5>
              <a href="#" class="card-link">Détail</a>
            </div>
            </div>
            <div class="card" style="width: 18rem;"  >
                <div class="card-body" style="background-color:rgba(20, 20, 20, 0.892);">
                  <h5 class="card-title" style = "color: rgb(255, 255, 255);">Entrainement 7</h5>
                  <a href="#" class="card-link">Détail</a>
                </div>
                </div>

                <div class="card" style="width: 18rem;"  >
                    <div class="card-body" style="background-color:rgba(20, 20, 20, 0.892);">
                      <h5 class="card-title" style = "color: rgb(255, 255, 255);">Entrainement 8</h5>
                      <a href="#" class="card-link">Détail</a>
                    </div>
                    </div>
</body>